doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    block meta
      title RDMKIT
      meta(name="description" content="RDMKIT | tools for wrestling web typography")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../stylus/index.styl")

  body
    .container
      block content

    script(src="../index.js")
    